<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Analýza SEO{% endblock %}</title>
    {% load staticfiles %}
    {% block head %}{% endblock %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/styles.css' %}" />
  </head>
  <body>
    {% block menu %}
    <nav class="navbar navbar-expand navbar-light bg-light fixed-top">
      <div class="container">
        <!-- Header -->
        <a href="{% url 'website:home' %}" class="navbar-brand">
          <img width="120px" src="https://seoanalyza.cz/wp-content/uploads/2017/03/SEO_ANALÝZA.png" class="d-inline-block align-top img-responsive">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'website:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pricing">Pricing</a>
            </li>
          </ul>
        </div>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:signup' %}">Register</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="content">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block img-fluid" style="width: 100%" src="/static/website/images/slide1.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" style="width: 100%" src="/static/website/images/slide1.png" alt="Second slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
    {% block content %}{% endblock %}
    {% endblock %}
    </div>

  </body>
</html>


