{% extends 'website/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/styles.css' %}" />
{% endblock %}
{% block content %}

  <div class="container content">
    <div id="home" class="row">
      <div class="col-sm">
        <h5>Denní měření dosažených pozic ve full textu</h5>
        <p>
          Denně pro Vás měříme desítky tisíc slov ve vyhledávačích jako je Seznam.cz a google.cz. Zjistěte i vy, na kterých pozicích se nachází Vaše stránky
        </p>
      </div>

      <div class="col-sm">
        <h5>Denní měření dosažených pozic ve full textu</h5>
        <p>
          Denně pro Vás měříme desítky tisíc slov ve vyhledávačích jako je Seznam.cz a google.cz. Zjistěte i vy, na kterých pozicích se nachází Vaše stránky
        </p>
      </div>

      <div class="col-sm">
        <h5>Denní měření dosažených pozic ve full textu</h5>
        <p>
          Denně pro Vás měříme desítky tisíc slov ve vyhledávačích jako je Seznam.cz a google.cz. Zjistěte i vy, na kterých pozicích se nachází Vaše stránky
        </p>
      </div>
    </div>
    <div id="features">
      <div class="row section">
        <h4>Features</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum massa magna, et ornare odio vehicula sit amet. Suspendisse a neque porttitor, volutpat lacus sit amet, tristique odio. Vestibulum nec porttitor lectus. Aliquam scelerisque, diam id fringilla sollicitudin, nunc augue pretium nisl, id gravida ligula enim tempor neque. Donec gravida diam nec felis auctor hendrerit. Vestibulum suscipit ligula vitae est egestas pharetra. Suspendisse vel turpis feugiat, sollicitudin nisl id, luctus ex. Quisque fringilla risus elementum leo suscipit volutpat. Ut sollicitudin sit amet eros non porta. Aenean hendrerit magna augue, in sodales mi dignissim vitae.

  Vestibulum finibus congue tortor, sed malesuada magna tincidunt ut. Vivamus scelerisque justo nec tristique varius. Praesent ac risus sed neque dictum congue. Etiam et metus vitae sem scelerisque feugiat quis et augue. Fusce ultricies tellus non risus bibendum aliquet. Pellentesque eu metus risus. Pellentesque posuere bibendum turpis sit amet fermentum. Nam at elit ut tortor blandit pellentesque. Donec sed metus et mauris rhoncus pharetra. Proin varius, augue non vulputate commodo, purus orci pellentesque arcu, sit amet semper dui odio non libero. Quisque mi libero, aliquam et metus ut, molestie luctus erat. Maecenas aliquam quam quis orci euismod, vel facilisis est consequat.

  Vivamus vestibulum turpis ut nisl hendrerit posuere. Cras imperdiet ut est at tempus. Sed porta venenatis fringilla. Nullam tempor nunc quis est posuere, id porta velit condimentum. Vestibulum nec risus venenatis, iaculis tellus quis, laoreet est. Vivamus faucibus neque non est vulputate, et tempor arcu pretium. Praesent erat metus, ullamcorper non dictum sed, interdum gravida est.

  Etiam ac nunc vitae nisi dapibus blandit. Nunc euismod vestibulum mauris, sit amet tempus arcu. Donec quis tempor magna, fringilla mattis urna. Quisque sollicitudin rhoncus nisi, eget luctus leo elementum convallis. Nulla facilisi. Aliquam erat volutpat. Nam lobortis facilisis libero sed aliquet. Integer malesuada purus vitae eros cursus, finibus porttitor est varius. Sed nec tortor maximus, porttitor ex sed, porta leo. Nulla venenatis, sem eu condimentum commodo, est nibh facilisis turpis, eget congue dui ante vel metus. Aenean ut consectetur ex, in vehicula nunc. Aenean mollis tristique dapibus. Nunc metus justo, commodo ut quam quis, pretium iaculis tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et tortor vel nulla ultricies semper. Pellentesque egestas lacus at elit interdum maximus.

  Praesent a imperdiet nulla. Nullam massa elit, rutrum sit amet libero tristique, consequat convallis orci. Nullam eget commodo elit, at fringilla arcu. Curabitur sollicitudin aliquet cursus. Ut auctor lectus leo, vitae tincidunt libero dignissim fringilla. Duis suscipit magna eget nibh placerat, ac euismod nisi imperdiet. Phasellus rutrum aliquam lectus, eget blandit urna semper ut. Suspendisse potenti.</p>
      </div>

    </div>

    <div id="pricing">
      <div class="row section">
        <h4>Pricing</h4>
      </div>
      <div class="row">
        <div class="col-sm">
        <h5>Denní měření dosažených pozic ve full textu</h5>
        <p>
          Denně pro Vás měříme desítky tisíc slov ve vyhledávačích jako je Seznam.cz a google.cz. Zjistěte i vy, na kterých pozicích se nachází Vaše stránky
        </p>
      </div>

      <div class="col-sm">
        <h5>Denní měření dosažených pozic ve full textu</h5>
        <p>
          Denně pro Vás měříme desítky tisíc slov ve vyhledávačích jako je Seznam.cz a google.cz. Zjistěte i vy, na kterých pozicích se nachází Vaše stránky
        </p>
      </div>

      <div class="col-sm">
        <h5>Denní měření dosažených pozic ve full textu</h5>
        <p>
          Denně pro Vás měříme desítky tisíc slov ve vyhledávačích jako je Seznam.cz a google.cz. Zjistěte i vy, na kterých pozicích se nachází Vaše stránky
        </p>
      </div>
    </div>
  </div>
</div>


{% endblock %}