{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
<div class="container">
  <div class="row ">
    {% block content %}
    <div class="offset-sm-4 col-sm-4">
      <h2 class="form-signin-heading">Sign up</h2>
      <form class="form-signup" method="post" class="form">
        {% csrf_token %}
          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="display: none">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}

        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
      </form>
    </div>

    {% endblock %}
  </div>
</div>
